<h1><%= gettext "Zgłoś przypadek" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.case_path(@conn, :create)) %>

<span><%= link (gettext "Powrót"), to: Routes.page_path(@conn, :index) %></span>
