<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="<%= gettext "Masz wirusa?" %>">
    <meta property="og:description" content="<%= gettext "Pomoż w walce z COVID-19 w Polsce. Zgłoś przypadek. Sprawdź okolicę." %>">
    <title>MamWirusa</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="https://koronawirusunas.pl">COVID-19 w Polsce</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
        <h1 class="phx-logo">
            Mam wirusa
        </h2>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
      <section class="row">
        <article class="column">
          <h2><%= gettext "Pomoc" %></h2>
          <ul>
            <li>
                <a href="<%= gettext "https://pacjent.gov.pl/aktualnosc/podejrzewasz-ze-masz-koronawirusa" %>"><%= gettext "pacjent.gov.pl" %></a>
            </li>
          </ul>
        </article>
        <article class="column">
          <h2><%= gettext "O stronie" %></h2>
          <ul>
            <li>
              <a href="https://github.com/scoiatael/mam_wirusa"><%= gettext "Kod open-source" %></a>
            </li>
            <li>
              <a href="https://resume.czaplin.ski"><%= gettext "Autor" %></a>
            </li>
            <li>
              <a href="https://hexdocs.pm/phoenix/overview.html"><%= gettext "Technologia" %></a>
            </li>
            <li>
                <%= link (gettext "Polityka prywatności %{date}", date: "2020-10-26"), to: Routes.page_path(@conn, :privacy) %>
            </li>
          </ul>
        </article>
      </section>
    </main>
  </body>
</html>
